<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onlineplatform.lctr.mapper.InstMbrMdfcnMapper">	
    <select id="getInstMbrInfo" parameterType="com.onlineplatform.lctr.model.InstMbrVO">
    	select * from kit.INST_MBR
    	where Inst_EML_ADDR = #{instEmlAddr}             
    </select>
    
    <update id="updateInstMbrInfo" parameterType="com.onlineplatform.lctr.model.InstMbrVO">
        UPDATE kit.INST_MBR
        SET pswd = #{pswd}, 
        	user = #{user}, telno = #{telno},
        	addr = #{addr}, inst_Nm = #{instNm}, 
        	mdfcn_Id = #{user}
        WHERE Inst_EML_ADDR = #{instEmlAddr}
    </update>
</mapper>